* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', monospace;
}

body {
  background: #030303;
  color: #00ff66;
  overflow-x: hidden;
}

/* MATRIX */
#matrix {
  position: fixed;
  inset: 0;
  z-index: -3;
}

/* HEADER */
header {
  padding: 40px;
  text-align: center;
  border-bottom: 1px solid #00ff66;
}

section {
  padding: 70px 20px;
  text-align: center;
}

/* IP STALKER */
.ip-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.ip-box {
  border: 1px solid #00ff66;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px #00ff66;
  min-width: 200px;
}

/* SPEEDOMETER */
#stats {
  position: relative;
}

.speed-value {
  position: absolute;
  left: 50%;
  top: 58%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.speed-value span {
  font-size: 2rem;
}

/* CARDS */
#categories {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #00ff66;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 25px #00ff66;
}

button, a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #00ff66;
  color: #000;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}

/* FOOTER */
footer {
  border-top: 1px solid #00ff66;
  padding: 50px 20px;
  text-align: center;
}

footer h3 {
  margin-bottom: 15px;
  text-shadow: 0 0 20px #00ff66;
}

footer a {
  margin: 5px;
}
